/CITP 190/CircleCalculator/nbproject/private/
/CITP 190/CircleCalculator/build/
/CITP 190/BoxGridApp/nbproject/private/
/CITP 190/BoxGridApp/build/
/CITP 190/ContactBookApp/nbproject/private/
/CITP 190/ContactBookApp/build/
/CITP 190/CourseRostersApp/nbproject/private/
/CITP 190/CourseRostersApp/build/
/CITP 190/FileIO/dist/
/CITP290/Module 1 Milestone/nbproject/private/
/CITP290/Module 1 Milestone/build/
/CITP290/Module 1 Milestone/dist/
/CITP290/Module1Project/nbproject/private/
/CITP290/Module1Project/build/
/CITP290/Module1Project/dist/