#main{
  min-width: 480px;
  max-width: 1024px;
  margin: auto;
  min-height: 640px;
  background-color:#446;
  background-size: auto;
  font-family: Verdana,sans-serif;
  color:#ddd;
  text-align: center;
  padding: 10px 10px 10px 10px;
  position:relative;
}
#image{
  background-image: url("graphics/kobe-beef.jpg");
  height:540px;
  background-size:cover;
  background-repeat: no-repeat;
  width:100%;
  text-align: justify;
}
#mainText{
  position:static;
  bottom:10px;
}
#top{
  min-height: 100px;
  min-width:480px;
  max-width: 1024px;
  margin: auto;
  background-color: #888;
  padding: 0px 10px 0px 10px;
}
#logo{
  height: 120px;
}
#mainLogo{
  position:absolute;
  top:20px;
}
#mainMenu{
  position:absolute;
  bottom:140px;
  left:10px;
  padding: 10px 10px 10px 10px;
  background-color: #446;
  font-family:Verdana,sans-serif;
}
#mainAb{
  position:absolute;
  right:10px;
  padding: 10px 10px 10px 10px;
  background-color: #446;
  font-family:Verdana,sans-serif;
}
#mainLoc{
  position:absolute;
  top:200px;
  right:50px;
}
.topButton{
  font-weight: bold;
  min-width: 100px;
  background-color: #777;
  height:120px;
  font-family: Verdana,sans-serif;
  float:left;
  margin: auto;
  line-height: 120px;
}
body{
  background-color: #333;
}
a{
  color: #eee;
}
table{
  text-align: center;
  margin:auto;
}
